# Members of group 11
Hammad Siddiqui <hammads@stud.ntnu.no> <hammads@uka.no>
Francin Anoj Vincent <francinv@stud.ntnu.no>
Seran Shanmugathas <serans@stud.ntnu.no> <Seran@live.no>
Jakob Kessler <jakobke@stud.ntnu.no>
