#logOutButton{
    -fx-background-color: #ffff; 
    -fx-border-color: #333;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#logOutButton:hover{
    -fx-transition-duration: 0.4s;
    -fx-background-color: rgb(112, 4, 4);
    -fx-text-fill: #ffffff;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#hideMenuButton{
    -fx-background-color: #ffff; 
    -fx-border-color: #333;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#hideMenuButton:hover{
    -fx-transition-duration: 0.4s;
    -fx-background-color: #333;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#showMenuButton{
    -fx-background-color: #ffff; 
    -fx-border-color: #333;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#showMenuButton:hover{
    -fx-transition-duration: 0.4s;
    -fx-background-color: #333;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#profileButton{
    -fx-background-color:  #313939;
    -fx-text-fill: #ffffff;
    -fx-text-decoration: underline;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#profileButton:hover{
    -fx-transition-duration: 0.4s;
    -fx-background-color: rgb(32, 32, 32);
    -fx-text-fill: #ffffff;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#salaryCalculationButton{
    -fx-background-color:  #313939;
    -fx-text-fill: #ffffff;
    -fx-text-decoration: underline;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#salaryCalculationButton:hover{
    -fx-transition-duration: 0.4s;
    -fx-background-color: rgb(32, 32, 32);
    -fx-text-fill: #ffffff;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#mySalariesButton{
    -fx-background-color:  #313939;
    -fx-text-fill: #ffffff;
    -fx-text-decoration: underline;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}

#mySalariesButton:hover{
    -fx-transition-duration: 0.4s;
    -fx-background-color: rgb(32, 32, 32);
    -fx-text-fill: #ffffff;
    -fx-font-family: "Quicksand";
    -fx-display: flex;
}